/* Theme base styles */

body {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blue-gradient {
  background: rgb(231,111,66);
  background: linear-gradient(180deg, rgba(231,111,66,0.04) 0%, rgba(0,133,255,0.05) 100%);
}

/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HMTL elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_default-modules.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}
