<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer bg-[#242C3E] w-full">
  <div class="container">
    <div>
      <img src={{ get_asset_url('/theherd/images/footer-logo.png') }} alt="The Herd" />
      <ul class="flex items-center gap-4">
        <li>
          <a href="/">
            <img src={{ get_asset_url('/theherd/images/icons/facebook.svg') }} />
          </a>
        </li>
        <li>
          <a href="/">
            <img src={{ get_asset_url('/theherd/images/icons/youtube.svg') }} />
          </a>
        </li>
        <li>
          <a href="/">
            <img src={{ get_asset_url('/theherd/images/icons/instagram.svg') }} />
          </a>
        </li>
        <li>
          <a href="/">
            <img src={{ get_asset_url('/theherd/images/icons/linkedin.svg') }} />
          </a>
        </li>
        <li>
          <a href="/">
            <img src={{ get_asset_url('/theherd/images/icons/tiktok.svg') }} />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
