<div class="home-our-work">     
  <div>
    <div class="container mx-auto flex flex-col justify-center items-center py-14 md:py-24">
     <span class="text-sm font-medium leading-6 md:leading-10 text-center text-[#E76642] tracking-[0.1em] md:tracking-[0.2em] mb-2">{{ module.top_heading }}</span>
      <h2 class="text-3xl md:text-5xl font-bold leading-10 text-center text-gray-800 mb-4 md:mb-8">{{ module.heading }}</h2>
      <p class="text-base md:text-lg leading-snug text-center text-[#5D636D] max-w-[495px]">{{ module.content }}</p>
      <ul class="flex flex-wrap justify-center gap-[10px] md:gap-[32px] my-14">
        {% for item in module.image_with_logo %}
        {% if item.background_image.src %}
        {% set sizeAttrs = 'width="{{ item.background_image.width }}" height="{{ item.background_image.height }}"' %}
        {% if item.background_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ item.background_image.width }}" height="{{ item.background_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.background_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.background_image.max_width }}" height="{{ item.background_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = item.background_image.loading != 'disabled' ? 'loading="{{ item.background_image.loading }}"' : '' %}
        <li
            class="
                   customer
                   before:content-['']
                   before:absolute
                   before:top-0
                   before:left-0
                   before:w-full
                   before:h-full
                   before:bg-cover
                   before:bg-center
                   before:bg-no-repeat
                   before:brightness-50
                   before:z-[-1]
                   relative
                   xl:w-[248px]
                   xl:h-[248px]
                   lg:w-[214px]
                   lg:h-[214px]
                   md:w-[30%]
                   md:h-[200px]
                   w-[48%]
                   h-[180px]
                   flex
                   items-center
                   justify-center
                   overflow-hidden
                   "
            >
          {% if item.logo.src %}
          {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}"' %}
          {% if item.logo.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.logo.width }}" height="{{ item.logo.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.logo.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.logo.max_width }}" height="{{ item.logo.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.logo.loading != 'disabled' ? 'loading="{{ item.logo.loading }}"' : '' %}         
          <img src={{ item.background_image.src }} class="customer__img absolute top-0 left-0 brightness-50"/>
          <img src={{ item.logo.src }} class="customer__mark brightness-100">
          <div class="customer__introduction absolute w-100 h-50 bg-neutral-50 p-6 text-lg top-[248px] font-normal">We increased SEO searches by %151 and improved discoverability</div>
          {% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% if module.button_text %}
      <a href="{{ module.button_link }}" class="cstm-btn text-white font-semibold text-lg px-7 py-3 rounded-md button primary-button">{{ module.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>