.customer:hover .customer__img{
    filter: brightness(1);
    transition: .2s;
}

.customer:hover .customer__introduction{
    transform: translateY(-124px);
    transition: .2s;
}

@media screen and (max-width: 768px) {
    .customer:hover .customer__introduction{
        transform: translateY(-104px);
        transition: .2s;
    }
}