<div class="cstmHome-award">
  <div class="bg-[#FAFBFF] py-14 md:py-24">
    <div class="container mx-auto flex gap-6 flex-wrap md:flex-nowrap">
      <div class="w-full md:w-1/2 flex items-center">
        <ul class="flex flex-wrap items-center justify-center gap-6">
          {% for item in module.award_image %}
          <li>
            {% if item.src %}
            {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
            {% if item.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}
            <img src="{{ item.src }}" alt="{{ item.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="w-full md:w-1/2">
        {% if module.top_label %}
        <span class="text-sm font-medium leading-6 md:leading-10 text-center text-[#E76642] tracking-[0.1em] md:tracking-[0.2em] mb-2">{{ module.top_label }}</span>
        {% endif %}
        {% if module.heading %}
        <h2 class="text-3xl md:text-5xl font-bold leading-10 text-gray-800 mb-4 md:mb-8">{{ module.heading }}</h2>
        {% endif %}
        {% if module.content %}
        <p class="text-base md:text-lg leading-snug text-[#5D636D] mb-4 md:mb-8">{{ module.content }}</p>
        {% endif %}
        {% if module.link_label %}
        <a href="{{ module.link_field }}" class="text-lg text-[#5D636D] font-bold leading-snug underline text-gray-600">{{ module.link_label }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>