<div class="cstm-services-page">
  <div>
    <div class="container px-10 md:px-auto my-8">
      <span
            class="text-xs font-semibold tracking-[.2em] md:tracking-widest leading-10 text-center text-[#E76642] uppercase block text-center"
            >{{ module.top_heading }}</span
        >
      <h1
          class="text-4xl md:text-5xl font-bold leading-10 text-center text-[#243347] md:text-[#252525] text-center"
          >
        {{ module.heading }}
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 my-16">
        {% for item in module.list_group %}
        <div
             class="bg-white shadow rounded-none md:rounded-2xl h-auto p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
             >
          <h3 class="text-xl font-bold leading-snug text-[#243347] md:text-[#252525] mb-4">
            {% inline_text field="heading1" value="{{ item.heading1 }}" %}
          </h3>
          <ul class="text-base leading-snug text-gray-600 list-none">
            {% for item2 in item.list %}
            <li class="flex before:text-base before:content-['•'] before:pr-2 before:-translate-y-[3px]">{% inline_text field="list" value="{{ item2 }}" %}</li>
            {% endfor %}
          </ul>
          {% set href = item.link_field.url.href %}
          {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a href="{{ href }}"
             class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
             {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
             {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
             >
            {% inline_text field="button_label" value="{{ item.button_label }}" %}
          </a>
        </div>

        {% endfor %}

      </div>

      <div class="flex justify-center space-x-8 my-20">
        {% if module.chat_button_label %}
        <a
           href="{{ module.chat_link }}"
           class="inline-flex items-center justify-center px-7 py-3 rounded-md text-lg button primary-button"
           >{{ module.chat_button_label }}</a
          >
        {% endif %}
        {% if module.project_button_label %}
        <a
           href="{{ module.project_link }}"
           class="md:inline-flex items-center justify-end text-lg font-bold leading-snug underline link-button hidden"
           >{{ module.project_button_label }}</a
          >
        {% endif %}
      </div>
    </div>
  </div>
</div>