<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
  {# Banner #}
  <div class="bg-slate-50 py-16">
    <div class="container mx-auto ">
      <div class="mb-16">
        <span class="text-xs font-semibold tracking-widest leading-10 text-center text-red-500 uppercase block">About Us</span>
        <h1 class="text-5xl font-bold leading-10 text-center text-gray-800">Who We Are</h1>
      </div>

      <div class="flex">
        <div class="w-1/2 flex flex-col justify-center">
          <h2 class="text-4xl font-bold leading-10 text-gray-800 mb-4">The Herd Mentality</h2>
          <p class="text-lg leading-snug text-gray-600">We help our clients identify and connect with their target audience, and we use data-driven insights to craft effective campaigns that drive results. We understand that no two businesses are exactly alike, and we take a customized approach to every project we work on. Whether you're a small startup or a large corporation, we have the expertise and creativity to help you achieve your marketing goals. So if you're looking to build a strong, engaged following for your brand, let us help you Gather the Herd.</p>
        </div>

        <div class="w-1/2 flex items-center justify-center">
          <img src={{ get_asset_url('/theherd/images/aboutgraphic.svg') }} />
        </div>
      </div>
    </div>
  </div>
  {# Award Winning Service #}
    <div class="container mx-auto flex my-20">
      <div class="flex w-1/2 gap-8 items-center">
        <img src={{ get_asset_url('/theherd/images/awards/telly.png') }} class="w-max h-max" alt="">
        <img src={{ get_asset_url('/theherd/images/awards/bestbiz.png') }} class="w-max h-max" alt="">
        <img src={{ get_asset_url('/theherd/images/awards/goldsteve.png') }} class="w-max h-max" alt="">
      </div>
      <div class="w-1/2">
        <h2 class="text-4xl font-bold text-gray-800">Award Winning Service</h2>
        <p class="text-lg leading-snug text-gray-600 my-4">A marketing company has received awards for its website including the "Golden Web", "Platinum Content" and "Diamond Traffic" from the "International Web Standards Association" (IWSA) for design, content and website traffic</p>
      </div>
    </div>

  {# Our Team #}
  <div class="bg-slate-50 py-20">
    <div class="container mx-auto ">
      <h2 class="text-4xl font-bold leading-10 text-center text-gray-800 my-4">Our Herd</h2>
      <p class="text-lg leading-snug text-center text-gray-600 w-2/3 mx-auto">Our marketing team is a group of experts who increase conversions with our clients using their unique skills and abilities. Resulting in increased leads and sales.</p>
      {# members #}
      <div class="flex flex-wrap gap-6 justify-start my-16">
        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>

        <div>
          <div class="rounded-full overflow-hidden">
            <img src={{ get_asset_url('/theherd/images/team/kyle.png') }} />
          </div>

          <h5 class="text-lg font-bold leading-snug text-center text-gray-800 my-4">Kyle</h5>
          <span class="text-base leading-snug text-center text-red-500 uppercase block text-center max-w-[120px] mx-auto">Co-Founder, CEO</span>
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="inline-flex items-center justify-center h-12 px-7 py-3 button primary-button rounded-md text-lg">Let's Chat!</a>
      </div>
    </div>
  </div>
  {# Giving Back #}
    <div class="container mx-auto my-20">
      <div class="flex items-center gap-8">
        <div class="flex-1">
          <span class="text-xs font-semibold tracking-widest leading-10 text-red-500 uppercase block">Giving Back</span>
          <h2 class="text-4xl font-bold leading-10 text-gray-800 mb-4">Give a Sheep</h2>
          <p class="text-lg leading-snug text-gray-600">To achieve our mission of bringing “shear” joy around the globe, The Herd donates a portion of its revenue to Heifer International, a global nonprofit working to eradicate poverty and food insecurity.</p>
          <a href="/"  class="inline-flex items-center justify-end text-lg font-bold leading-snug underline link-button my-8">Learn More</a>
        </div>

        <div class="flex-1">
          <img src={{ get_asset_url('/theherd/images/give-sheep.png') }} />
        </div>
      </div>
    </div>
{% endblock body %}
