<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

<div class="flex relative">
  <img class="absolute top-48 left-[calc(50%-54px)]" src="{{ get_asset_url('/theherd/images/herd-dog.png') }}">
  <div class="flex-1 green-gradient flex justify-end py-44 ld:py-40 lg:pr-20 xl:pr-44  lg:pl-10 xl:pl-0">
    <div class="max-w-[400px]">
      <h2 class="mb-7 text-[40px] font-bold leading-10 text-gray-800">Book a Consultation</h2>
      <p class="mb-7 text-lg leading-snug text-gray-600">
        Creating an effective digital marketing campaign requires a clear strategy and significant effort.
      </p>
      <a data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="inline-flex items-center justify-center h-12 px-7 py-3 button primary-button rounded-md text-lg font-semibold">Book now!</a>
    </div>
  </div>
  <div class="flex-1 py-44 ld:py-40 lg:pl-20 lg:pl-20 xl:pl-44 lg:pr-10 xl:pr-0">
    <div class="max-w-[400px]">
      <h2 class="mb-7 text-[40px] font-bold leading-10 text-gray-800">Send a message</h2>
      <p class="mb-7 text-lg leading-snug text-gray-600">
        Creating an effective digital marketing campaign requires a clear strategy and significant effort.
      </p>
      <a href="//24467831.hs-sites.com/contact-form" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit">Send message</a>
    </div>
  </div>
</div>
<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-20 left-0 right-0 z-50 hidden w-full h-[666px] p-4 overflow-hidden md:inset-0" style="top:80px">
  <div class="relative w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <div class="relative rounded-lg shadow dark:bg-gray-700">
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/jonathon-hammond?embed=true"></div>
        <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
