<!--
  templateType: page
  isAvailableForNewContent: true
  label: Project 1
-->
{% extends "./layouts/base.html" %}

{% block body %}
    <div>
        <div class="container flex items-center gap-x-20 mt-4 md:my-16 flex-col md:flex-row">
            <div class="md:w-3/5 w-full">
                <span class="text-xs font-semibold leading-10 text-[#E76642] tracking-[.2em] uppercase block">Procacci Brothers</span>
                <h1 class="text-3xl md:text-5xl font-bold leading-10 md:text-neutral-800 text-[#243347]">Estrella Naciente</h1>
                <p class="text-sm md:text-lg leading-normal md:leading-snug text-[#5D636D] my-2 md:my-8">The “Estrella Naciente” Scholarship fund is dedicated to providing educational opportunities for young leaders in the Hispanic community. We created a video to detail these students’ struggles and highlight the company that is rewarding their hard work.
                </p>
            </div>
            <div class="md:w-2/5 w-full">
                <img src={{ get_asset_url('/theherd/images/ourwork/procacci-bg-1.png') }} class="w-full rounded-2xl hidden md:block"/>
                <img src={{ get_asset_url('/theherd/images/projects/plate-1.png') }} class="w-full rounded-2xl block md:hidden"/>
            </div>
        </div>
        <div class="flex flex-col md:flex-row">
            <div class="flex-1 text-center bg-[#E76224] pt-9 pb-7">
                <h1 class="text-white font-bold text-4xl mb-2">150%</h1>
                <label class="text-white text-lg font-normal">Growth in site traffic and engagement</label>
            </div>
            <div class="flex-1 text-center bg-[#D65A18] pt-9 pb-7">
                <h1 class="text-white font-bold text-4xl mb-2">150%</h1>
                <label class="text-white text-lg font-normal">Growth in site traffic and engagement</label>
            </div>
            <div class="flex-1 text-center bg-[#BD4D12] pt-9 pb-7">
                <h1 class="text-white font-bold text-4xl mb-2">150%</h1>
                <label class="text-white text-lg font-normal">Growth in site traffic and engagement</label>
            </div>
        </div>
    </div>
    <div class="md:bg-slate-50 py-11 md:py-24">
        <div class="container flex flex-col gap-y-12 md:gap-y-24">
            <div class="flex flex-col md:flex-row items-center gap-10 md:gap-12">
                <div class="flex flex-col space-y-3 md:space-y-6 flex-1">
                    <h2 class="text-xl md:text-4xl font-bold leading-snug text-[#252525] md:text-[#243347]">The Challenge</h2>
                    <p class="mb-7 text-lg leading-snug text-[#5D636D] font-normal">
                        Procacci Brothers wanted to raise awareness for their non-profit program, The “Estrella Naciente” Scholarship fund, which provides educational opportunities for young leaders in the Hispanic community. The challenge was to create a video that could showcase the struggles of these students and highlight the company’s efforts to reward their hard work.
                    </p>
                </div>
                <div class="flex-1 relative w-full">
                    <img src={{ get_asset_url('/theherd/images/projects/challenge.png') }} class="w-full" />
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"><img src={{ get_asset_url('/theherd/images/projects/play.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/3" /></button>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-10 md:gap-12 border-t-2 border-[#e1e1e1] md:border-0 pt-12 md:pt-0">
                <div class="flex-1 order-2 md:order-1">
                    <img src={{ get_asset_url('/theherd/images/projects/strategy.png') }} />
                </div>
                <div class="flex flex-col space-y-3 md:space-y-6 flex-1 order-1 md:order-2">
                    <h2 class="text-xl md:text-4xl font-bold leading-snug text-[#252525] md:text-[#243347]">Strategy</h2>
                    <p class="mb-7 text-lg leading-snug text-[#5D636D] font-normal">
                        We developed a documentary-style video that would take the viewers on a journey through the struggles of these students and the generosity of the Procacci organization. We captured interviews with scholarship recipients, highlighting their stories and aspirations. We also spent time touring and filming the Procacci facilities to showcase the company's dedication to providing healthy, high-quality produce.
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-10 md:gap-12 border-t-2 border-[#e1e1e1] md:border-0 pt-12 md:pt-0">
                <div class="flex flex-col space-y-3 md:space-y-6 flex-1">
                    <h2 class="text-xl md:text-4xl font-bold leading-snug text-[#252525] md:text-[#243347]">Results</h2>
                    <p class="mb-7 text-lg leading-snug text-[#5D636D] font-normal">
                        The resulting video was a touching tribute to the struggles and triumphs of the scholarship recipients, and the generous contributions of the Procacci Brothers. It helped raise awareness for the scholarship program and showcased the company's commitment to the Hispanic community. The video was widely shared on social media and received positive feedback from viewers who were inspired by the student's determination to succeed despite their obstacles. Overall, the video succeeded in achieving its goal of spreading awareness for the scholarship fund and highlighting the charitable efforts of the Procacci Brothers.
                    </p>
                </div>
                <div class="flex-1">
                    <img src={{ get_asset_url('/theherd/images/projects/results.png') }} />
                </div>
            </div>
            <div class="text-center hidden md:block">
                <a href="{{ module.consultation.link_field }}" class="inline-flex items-center justify-center h-12 px-7 py-3 button primary-button rounded-md text-lg font-semibold">Let's chat!</a>
            </div>
        </div>
    </div>
    <div class="bg-slate-50 md:bg-white pt-20 pb-24">
        <div class="container">
            <h2 class="text-4xl font-bold leading-10 text-[#252525] text-center mb-20">More Success Stores</h2>
            <div class="md:grid-cols-4 grid-cols-1 gap-8 hidden md:grid">
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/one-historic-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/one-historic-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/procacci-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/procacci-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/valley-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/valley-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/rc-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/rc-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/bittersweet-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/bittersweet-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/lennar-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/lennar-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
                <div class="relative md:max-w-64 md:max-h-64 project overflow-hidden w-[360px] md:w-fit mx-auto">
                    <img src={{ get_asset_url('/theherd/images/ourwork/endvr-bg.png') }} class="w-full h-full brightness-50 project__img"/>
                    <img src={{ get_asset_url('/theherd/images/ourwork/endvr-logo.png') }} class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 brightness-100"/>
                    <div class="absolute w-100 h-52 bg-neutral-50 p-6 text-lg md:top-[248px] top-[360px] font-normal project__introduction">We increased SEO searches by %151 and improved discoverability</div>
                </div>
            </div>
            <div class="glide mx-auto block md:hidden">
                <div class="glide__track md:w-[730px] w-4/5 mx-auto" data-glide-el="track">
                  <ul class="glide__slides">
                    <li class="glide__slide p-4"> 
                      <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
                    </li>
                    <li class="glide__slide p-4"> 
                      <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
                    </li>
                    <li class="glide__slide p-4"> 
                      <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
                    </li>
                  </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="border-none glide__arrow glide__arrow--left top-[50%] left-0 shadow-none" data-glide-dir="<">
                    <img src={{ get_asset_url('/theherd/images/icons/arrow-left.png') }} class="w-1/2"/>
                  </button>
                  <button class="border-none glide__arrow glide__arrow--right top-[50%] right-0 shadow-none" data-glide-dir=">">
                    <img src={{ get_asset_url('/theherd/images/icons/arrow-right.png') }} class="w-1/2 float-right"/>
                  </button>
                </div>
            </div>
        </div>
    </div>
    <div id="popup-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">
            <div class="relative bg-white rounded-lg shadow">
                <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="popup-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="p-8 pt-16 text-center">
                    <iframe id="cartoonVideo" class="embed-responsive-item" width="610" height="350" src="//www.youtube.com/watch?v=kjIS3JnrE9E" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <style>
        .project:hover .project__img{
            filter: brightness(.8);
            transition: .2s;
        }
        .project:hover .project__introduction{
            transform: translateY(-124px);
            transition: .2s;
        }
        @media screen and (max-width: 768px) {
            .project:hover .project__introduction{
                transform: translateY(-104px);
                transition: .2s;
            }
        }
    </style>
{% endblock body %}
