<!--
  templateType: page
  isAvailableForNewContent: true
  label: Projects
  screenshotPath: ../images/template-previews/home.png
-->

{% extends "./layouts/servicestemp.html" %}
{% block body %} 
{# Banner #}
<div style="background-image: url({{ get_asset_url('/theherd/images/projectsbg.svg') }})" class="bg-cover bg-no-repeat py-24">
  <div class="container mx-auto flex">
    <div class="flex-1">
      <span class="text-xs font-semibold tracking-widest leading-10 text-red-500 uppercase">Projects</span>
      <h1 class="text-5xl font-extrabold text-gray-800 mb-8">Efforts For Worthy Individuals</h1>
      <p class="text-xl leading-snug text-gray-600 mb-8">We assist businesses in achieving marketing goals through expert design, development, strategy, and production services. View our portfolio and client testimonials to see our successful projects.</p>
      <a href="#" class="inline-flex items-center justify-center h-12 px-7 py-3 bg-red-500 rounded-md text-lg text-white">Let's Chat!</a>
    </div>
    <div class="relative w-1/2">
      <div class="z-2 w-80 min-h-28 bg-white shadow rounded-xl bg-opacity-40 flex p-4 pb-6 absolute top-[130px] right-[160px]">
        <div class="rounded-full overflow-hidden w-12 h-12 mr-4">  
          <img src={{ get_asset_url('/theherd/images/userimage.png') }} class="w-full" />
        </div>

        <div class="flex-1">
          <h4 class="text-xs font-bold leading-none text-gray-600">John Smith</h4>
          <span class="text-xs leading-none text-gray-600">Owner of Smith Company</span>
          <p class="text-xs leading-none text-gray-600">"The Herd helped us achieve our business goals and exceeded our expectations."</p>
        </div>
      </div>

      <div class="z-1 w-80 min-h-28 blue-gradient shadow rounded-xl flex p-4 pb-6 absolute top-[50px] right-0">
        <div class="rounded-full overflow-hidden w-12 h-12 mr-4">  
          <img src={{ get_asset_url('/theherd/images/userimage.png') }} class="w-full" />
        </div>

        <div class="flex-1">
          <h4 class="text-xs font-bold leading-none text-gray-600">John Smith</h4>
          <span class="text-xs leading-none text-gray-600">Owner of Smith Company</span>
          <p class="text-xs leading-none text-gray-600">"The Herd helped us achieve our business goals and exceeded our expectations."</p>
        </div>
      </div>

      <div class="z-1 w-80 min-h-28 blue-gradient shadow rounded-xl flex p-4 pb-6 absolute top-[218px] right-[86px]">
        <div class="rounded-full overflow-hidden w-12 h-12 mr-4">  
          <img src={{ get_asset_url('/theherd/images/userimage.png') }} class="w-full" />
        </div>

        <div class="flex-1">
          <h4 class="text-xs font-bold leading-none text-gray-600">John Smith</h4>
          <span class="text-xs leading-none text-gray-600">Owner of Smith Company</span>
          <p class="text-xs leading-none text-gray-600">"The Herd helped us achieve our business goals and exceeded our expectations."</p>
        </div>
      </div>
    </div>
  </div>
</div>


{# Our Latest Work #}
<div class="py-[91px]">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold leading-10 text-gray-800">Our Latest Work</h2>
    <ul class="flex flex-wrap justify-center gap-[10px] md:gap-[32px] my-14">
      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>

      <li
          class="
            before:bg-[url('{{ get_asset_url('/theherd/images/ourwork/keller-williams-bg.png') }}')] 
            before:content-['']
            before:absolute
            before:top-0
            before:left-0
            before:w-full
            before:h-full
            before:bg-cover
            before:bg-center
            before:bg-no-repeat
            before:brightness-50
            before:z-[-1]
            relative
            xl:w-[248px]
            xl:h-[248px]
            lg:w-[214px]
            lg:h-[214px]
            md:w-[30%]
            md:h-[200px]
            w-[48%]
            h-[180px]
            flex
            items-center
            justify-center
          "
        >
        <img src={{ get_asset_url('/theherd/images/ourwork/keller-williams-logo.png') }} class="brightness-100">
      </li>
    </ul>
    <div class="w-full flex items-center">
      <a href="#" class="mx-auto text-lg font-semibold text-white inline-flex items-center justify-center h-12 px-7 py-3.5 bg-gray-800 rounded-md">Get in touch!</a>
    </div>
  </div>
</div>
{% dnd_area "dnd_area" label="Main section", class="body-container body-container--home" %}
{% end_dnd_area %} 
{% endblock body %}