<!--
  templateType: page
  isAvailableForNewContent: true
  label: Resources
-->
{% extends "./layouts/base.html" %}

{% block body %}
    <div class="container mx-auto py-2 md:py-10">
      <div class="mb-10 md:mb-24 mx-auto text-left md:text-center w-full md:w-1/2">
        <span class="text-xs font-semibold tracking-[.2em] leading-10 text-[#E76642] tracking-[.2em] uppercase block">Resources</span>
        <h1 class="text-3xl md:text-5xl font-bold leading-10 text-[#243347] md:text-[#252525]">Get The Info You Need</h1>
        <p class="text-sm md:text-lg leading-normal md:leading-snug text-[#5D636D] mt-2 md:mt-8 mb-8">Our collection of free digital marketing resources for charities and nonprofits includes various tips and informative articles on digital communications, fundraising, and campaigning strategies to help these organizations achieve their goals</p>
        <a href="{{ module.consultation.link_field }}" class="inline-flex items-center justify-center h-12 px-7 py-3 button primary-button rounded-md text-lg font-semibold">Let's chat!</a>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
        <div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
		<div class="flex flex-col justify-center bg-white rounded-none md:rounded-2xl pt-10 md:pt-20 pb-12 md:pb-[88px] px-7 md:px-12 shadow shadow-[0_4px_22px_rgba(36,51,71,0.13)]">
			<h1 class="text-xl md:text-4xl font-bold leading-snug text-[#252525]">Resources 1</h1>
			<div class="flex flex-col gap-y-5 text-[#5D636D] mt-8 md:mt-6 mb-11 md:mb-12 font-normal">
				<p class="text-sm md:text-base leading-6">Creating effective digital marketing campaigns requires a clear strategy and significant effort. To achieve your objectives and aspirations, it's essential to seek expert advice and assistance.</p>
				<p class="text-sm md:text-base leading-6">Whether you're focusing on social media, video marketing, Facebook Ads, Google Ads, or Google Analytics, there are many aspects to consider when it comes to digital marketing, making expert tips and guidance invaluable.</p>
			</div>
			<a href="{{ href }}" class="px-7 py-3 button secondary-button rounded-md text-lg font-semibold w-fit hidden md:inline-block">View Resource</a>
			<a href="{{ href }}" class="px-7 py-3 button black-button rounded-md text-lg font-semibold w-fit md:hidden inline-block">View Resource</a>
        </div>
      </div>
    </div>
{% endblock body %}
