<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services
  screenshotPath: ../images/template-previews/home.png
-->

{% extends "./layouts/servicestemp.html" %} {% block body %} {# Top Section #}
<div>
  <div class="container mx-auto my-8">
    <span
      class="text-xs font-semibold tracking-widest leading-10 text-center text-red-500 uppercase block text-center"
      >Services</span
    >
    <h1
      class="text-5xl font-bold leading-10 text-center text-gray-800 text-center"
    >
      We Create Effective Solutions
    </h1>
    <div class="grid grid-cols-4 gap-8 my-16">
      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>

      <div
        class="bg-white shadow rounded-2xl h-72 p-8 flex flex-col justify-between shadow-[0_4px_22px_rgba(36,51,71,0.13)]"
      >
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">
          Videography &amp; Photography
        </h3>
        <ul class="text-base leading-snug text-gray-600 list-disc pl-3">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a
          href="/"
          class="text-lg font-bold leading-snug underline text-gray-600 mt-4"
          >Learn More</a
        >
      </div>
    </div>

    <div class="flex justify-center space-x-8 my-20">
      <a
        href="/"
        class="inline-flex items-center justify-center px-7 py-3 bg-red-500 rounded-md text-lg text-white"
        >Lets Chat!</a
      >
      <a
        href="/"
        class="inline-flex items-center justify-end text-lg font-bold leading-snug underline text-gray-600"
        >View Projects</a
      >
    </div>
  </div>
</div>

{# Our Work #}
<div class="bg-gray-50 py-24">
  <div class="container mx-auto">
    <h2
      class="text-center text-4xl font-bold leading-10 text-center text-gray-800 mb-16"
    >
      Some of Our Work
    </h2>
    <div class="flex items-center space-x-4">
      <img src={{ get_asset_url('/theherd/images/ourwork/procacci-bg-1.png') }}
      class="rounded-2xl -translate-y-2" />
      <div class="flex flex-col space-y-4">
        <div class="flex space-x-4">
          <div>
            <img src={{
            get_asset_url('/theherd/images/ourwork/keller-williams-bg-1.png') }}
            class="rounded-2xl" />
          </div>
          <div class="flex">
            <img src={{ get_asset_url('/theherd/images/ourwork/food-2.png') }}
            class="rounded-2xl self-end" />
          </div>
        </div>
        <img src={{ get_asset_url('/theherd/images/ourwork/food-1.png') }}
        class="rounded-2xl" />
      </div>
      <img src={{ get_asset_url('/theherd/images/ourwork/food-3.png') }}
      class="rounded-2xl translate-y-4" />
    </div>
  </div>
</div>
{% dnd_area "dnd_area" label="Main section", class="body-container
body-container--home" %} {% end_dnd_area %} {% endblock body %}
