<!--
  templateType: page
  isAvailableForNewContent: true
  label: Services
  screenshotPath: ../images/template-previews/home.png
-->

{% extends "./layouts/servicestemp.html" %}
{% block body %} 
{# Top Section #}
<div>
  <div class="container mx-auto">
    <span class="text-xs font-semibold tracking-widest leading-10 text-center text-red-500 uppercase block text-center">Services</span>
    <h1 class="text-5xl font-bold leading-10 text-center text-gray-800 text-center">We Create Effective Solutions</h1>
    <div class="flex flex-wrap gap-6 justify-between">
      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>

      <div class="bg-white shadow rounded-2xl w-60 p-8 flex flex-col justify-between">
        <h3 class="text-xl font-bold leading-snug text-gray-800 mb-4">Videography &amp; Photography</h3>
        <ul class="text-base leading-snug text-gray-600">
          <li>Video & Photo Production</li>
          <li>Video &amp; Photo Editing</li>
          <li>Special Effects</li>
          <li>Animations</li>
        </ul>

        <a href="/" class="text-lg font-bold leading-snug underline text-gray-600 mt-4">Learn More</a>
      </div>
    </div>

    <div class="flex justify-center gap-6">
      <a href="/" class="inline-flex items-center justify-center px-7 py-3 bg-red-500 rounded-md text-lg text-white">Lets Chat!</a>
      <a href="/" class="inline-flex items-center justify-end text-lg font-bold leading-snug underline text-gray-600">View Projects</a>
    </div>
  </div>
</div>

{# Our Work #}
<div class="bg-gray-50 py-24">
  <div class="container mx-auto">
    <h2 class="text-center text-4xl font-bold leading-10 text-center text-gray-800">Some of Our Work</h2>
  </div>
</div>
{% dnd_area "dnd_area" label="Main section", class="body-container body-container--home" %}
{% end_dnd_area %} 
{% endblock body %}