<div class="cstmourwork">
  {# Our Work #}
  <div class="bg-gray-50 md:py-24 py-9">
    <div class="container mx-auto">
      <h2
          class="text-center text-[32px] md:text-4xl font-bold leading-10 text-center text-[#243347] md:text-[#252525] md:mb-16 mb-9"
          >
        {{ module.heading }}
      </h2>
      <div class="md:flex items-center space-x-4 hidden">

        {% if module.image_1.src %}
        {% set sizeAttrs = 'width="{{ module.image_1.width }}" height="{{ module.image_1.height }}"' %}
        {% if module.image_1.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image_1.width }}" height="{{ module.image_1.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image_1.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_1.max_width }}" height="{{ module.image_1.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image_1.loading != 'disabled' ? 'loading="{{ module.image_1.loading }}"' : '' %}
        <img  class="rounded-2xl -translate-y-2" src="{{ module.image_1.src }}" alt="{{ module.image_1.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
        <div class="flex flex-col space-y-4">
          <div class="flex space-x-4">
            <div>

              {% if module.image_2.src %}
              {% set sizeAttrs = 'width="{{ module.image_2.width }}" height="{{ module.image_2.height }}"' %}
              {% if module.image_2.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.image_2.width }}" height="{{ module.image_2.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.image_2.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.image_2.max_width }}" height="{{ module.image_2.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = module.image_2.loading != 'disabled' ? 'loading="{{ module.image_2.loading }}"' : '' %}
              <img class="rounded-2xl" src="{{ module.image_2.src }}" alt="{{ module.image_2.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}

            </div>
            <div class="flex">

              {% if module.image_3.src %}
              {% set sizeAttrs = 'width="{{ module.image_3.width }}" height="{{ module.image_3.height }}"' %}
              {% if module.image_3.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.image_3.width }}" height="{{ module.image_3.height }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.image_3.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.image_3.max_width }}" height="{{ module.image_3.max_height }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = module.image_3.loading != 'disabled' ? 'loading="{{ module.image_3.loading }}"' : '' %}
              <img class="rounded-2xl self-end" src="{{ module.image_3.src }}" alt="{{ module.image_3.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}

            </div>
          </div>

          {% if module.image_4.src %}
          {% set sizeAttrs = 'width="{{ module.image_4.width }}" height="{{ module.image_4.height }}"' %}
          {% if module.image_4.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.image_4.width }}" height="{{ module.image_4.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_4.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.image_4.max_width }}" height="{{ module.image_4.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.image_4.loading != 'disabled' ? 'loading="{{ module.image_4.loading }}"' : '' %}
          <img class="rounded-2xl" src="{{ module.image_4.src }}" alt="{{ module.image_4.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>

        {% if module.image_5.src %}
        {% set sizeAttrs = 'width="{{ module.image_5.width }}" height="{{ module.image_5.height }}"' %}
        {% if module.image_5.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image_5.width }}" height="{{ module.image_5.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image_5.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_5.max_width }}" height="{{ module.image_5.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image_5.loading != 'disabled' ? 'loading="{{ module.image_5.loading }}"' : '' %}
        <img class="rounded-2xl translate-y-4" src="{{ module.image_5.src }}" alt="{{ module.image_5.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="glide mx-auto block md:hidden">
        <div class="glide__track md:w-[730px] w-4/5 mx-auto" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide p-4"> 
              <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
            </li>
            <li class="glide__slide p-4"> 
              <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
            </li>
            <li class="glide__slide p-4"> 
              <img src={{ get_asset_url('/theherd/images/ourwork/slide-work.png') }} class="mx-auto" />
            </li>
          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="border-none glide__arrow glide__arrow--left top-[50%] left-0 shadow-none" data-glide-dir="<">
            <img src={{ get_asset_url('/theherd/images/icons/arrow-left.png') }} class="w-1/2"/>
          </button>
          <button class="border-none glide__arrow glide__arrow--right top-[50%] right-0 shadow-none" data-glide-dir=">">
            <img src={{ get_asset_url('/theherd/images/icons/arrow-right.png') }} class="w-1/2"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>