<div class="cstm-home-service">
  <!-- Services Section -->
  <div class="container flex flex-col items-center justify-center space-y-6 py-20">
    <div class="flex flex-col text-center space-y-4">
      <label class="text-xs font-medium leading-6 md:leading-10 text-center text-[#E76642] tracking-[0.1em] md:tracking-[0.2em] w-full block uppercase">{{ module.top_heading }}</label>
      <label class="text-5xl font-bold">{{ module.heading }}</label>
    </div>
    <div class="flex w-full justify-center items-center">
      <div class="relative text-sm w-80 h-96">
        <div class="absolute right-0 font-bold w-48 h-48 pl-6 pr-4 pb-2 flex text-center items-center text-black hover:text-white bg-[url({{ module.digital_design_group.image_field.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="videography_group.text_field" value="{{ module.videography_group.text_field }}" %}
        </div>
        <div class="absolute left-0 top-1/2 w-48 h-48 -translate-y-1/2 font-bold pl-6 pr-4 pb-2 flex justify-center items-center text-black hover:text-white bg-[url({{ module.digital_design_group.image_field.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="digital_design_group.text_field_1" value="{{ module.digital_design_group.text_field_1 }}" %}
        </div>
        <div class="absolute right-0 bottom-0 font-bold w-48 h-48 pl-6 pr-4 pb-2 flex justify-center items-center text-black hover:text-white bg-[url({{ module.branding_group.image_field_1.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="branding_group.text_field_2" value="{{ module.branding_group.text_field_2 }}" %}
        </div>
        <label class="absolute right-0 top-1/2 -translate-y-6 -translate-x-2 text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-[#5B76FF] to-[#9452FF]">
          {{ module.creative }}
        </label>
      </div>
      {% if module.main_image.src %}
      {% set sizeAttrs = 'width="{{ module.main_image.width }}" height="{{ module.main_image.height }}"' %}
      {% if module.main_image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.main_image.width }}" height="{{ module.main_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.main_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.main_image.max_width }}" height="{{ module.main_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.main_image.loading != 'disabled' ? 'loading="{{ module.main_image.loading }}"' : '' %}
      <img class="md:w-[10rem] lg:w-[20rem] xl:w-[30rem] translate-x-8" src="{{ module.main_image.src }}" alt="{{ module.main_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      <div class="relative text-sm w-80 h-96">
        <div class="absolute left-0 font-bold w-48 h-48 pl-6 pr-4 pb-2 flex text-center items-center text-black hover:text-white bg-[url({{ module.digital_marketing_group.image_field_2.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="digital_marketing_group.text_field_3" value="{{ module.digital_marketing_group.text_field_3 }}" %}
        </div>
        <div class="absolute right-0 top-1/2 -translate-y-1/2 font-bold w-48 h-48 pl-6 pr-4 pb-2 flex text-center items-center text-black hover:text-white bg-[url({{ module.development_group.image_field_3.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="development_group.text_field_4" value="{{ module.development_group.text_field_4 }}" %}
        </div>
        <div class="absolute left-0 bottom-0 font-bold w-48 h-48 pl-6 pr-4 pb-2 flex justify-center items-center text-black hover:text-white bg-[url({{ module.web_optimization_group.image_field_3.src }})] hover:bg-[url({{ get_asset_url('/theherd/images/polygon-green.png') }})]">
          {% inline_text field="web_optimization_group.text_field_4" value="{{ module.web_optimization_group.text_field_4 }}" %}
        </div>
        <label class="absolute left-0 top-1/2 -translate-y-6 -translate-x-2 text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-[#9452FF] to-[#4617FF]">
          {{ module.marketing }}
        </label>
      </div>  
    </div>
    {% if module.button_text  %}
    <a href="{{ module.link_field }}" class="cstm-btn text-white font-semibold text-lg px-7 py-3 rounded-md button primary-button">{{ module.button_text }}</a>
    {% endif %}
  </div>
</div>